// SASS STUFF

$deepPurple: rgb(71, 23, 116);
$purpleTextShadow: 2px 2px 8px rgb(161, 131, 189);

@mixin fabStars {
    color: $deepPurple;
    text-shadow: $purpleTextShadow;
}

@mixin dFlexCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}


// GLOBAL

html,
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    height: 100vh;
    background-color: rgb(249, 245, 251);
}

// LAYOUT

.wrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "header"
        "stars"
    ;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60%;
    margin: 0 auto;
}

.header-container {
    @include dFlexCentered();
    grid-area: header;
    flex-direction: column;
}

.stars-container {
    @include dFlexCentered();
    grid-area: stars;
    flex-direction: row-reverse;
}

// ELEMENTS

.title {
    font-size: 3rem;
    color: rgb(165, 109, 218);
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.8rem;
    color: $deepPurple;
}

.fa-star {
    font-size: 4rem;
    color: rgba(165, 109, 218, 0.205);
    z-index: 10;
}


// CHANGE STATE

//Change color when hover a star
.fa-star:hover {
    @include fabStars();
    cursor: pointer;
}

//Change color of all previous stars
.fa-star:hover ~ .fa-star {
    @include fabStars();
}

//Change color when clicking (set via DOM) 
.active {
    @include fabStars();
}

.active ~ .fa-star {
    @include fabStars();
}
