// VARIABLES

$greenBorder: 2px solid rgb(121, 219, 121);
$redBorder: 2px solid rgb(224, 126, 126);

// GLOBAL

html,
body {
    margin: 0;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

// LAYOUT

.header-container {
    width: 100%;
    background-color: rgb(85, 134, 85);
    border-bottom: 3px solid rgb(19, 54, 19);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr 3fr;
    grid-template-areas: 
        "feedback feedback"
        "form list"
    ;
    row-gap: 2rem;
    column-gap: 4rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}

// SECTIONS

// Header
.title {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    padding-top: 2rem;
    margin-left: 2rem;
}
.subtitle {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding-bottom: 0.7rem;
    margin-left: 2rem;
}

// Feedback
.feedback-container {
    grid-area: feedback;
    background-color:rgb(85, 134, 85);
    width: 100%;
    border-radius: 0.3rem;;
}

.feedback {
    font-weight: 600;
    color:rgb(255, 255, 255);
    padding: 0.5rem;
}

// Product form
.product-form {
    grid-area: form;
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1.2fr;
    grid-template-areas: 
        "title"
        "name-container"
        "price-container"
        "year-container"
        "button"
    ;
    row-gap: 0.5rem;
    width: 100%;
    padding: 1rem;
    border: 3px solid rgb(93, 146, 93);
    border-radius: 1rem;
}

h2 {
    grid-area: title;
    text-align: center;
    color: rgb(19, 54, 19)
}

#name-container {
    grid-area: name-container;
}

#price-container {
    grid-area: price-container;
}

#year-container {
    grid-area: year-container;
}

.form-group {
    display: flex;
    flex-direction: column;
    height: 3.5rem;
}

#name, 
#price, 
#year {
    height: 100%;
    outline: none;
}

#add-btn {
    grid-area: button;
    height: 100%;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    background-color: rgb(93, 146, 93);
    color: white;
}

#add-btn:hover {
    background-color: rgb(35, 126, 13);
    cursor: pointer;
}

small {
    visibility: hidden;
    margin-left: 0.5rem;
}

// Product list 
.list-container {
    grid-area: list;
}

.product-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid rgb(93, 146, 93);
    border-radius: 1rem;
}

.delete-btn {
    background-color: rgb(218, 96, 96);
    border: none;
    border-radius: 0.3rem;
    color: white;
}
.delete-btn:hover {
    background-color: rgb(196, 32, 32);
    cursor: pointer;
}

// VALIDITY SETTINGS

.error small {
    visibility: visible;
    color:rgb(224, 126, 126);
}

.success input {
    border: $greenBorder;
}

.error input{
    border: $redBorder;
}